Source: taskmanager
Section: devel
Priority: extra
Maintainer: Junghyun Kim <jh1114.kim>, hhh.kwon <hhh.kwon@samsung.com>
Uploaders: Noha Park <noha.park@samsung.com>
Build-Depends: debhelper (>= 5), libappcore-efl-dev, libelm-dev, libaul-1-dev, libslp-utilx-dev, librua-dev, libslp-sysman-dev, libail-0-dev, dlog-dev
Standards-Version: 3.7.2

Package: org.tizen.taskmgr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Task Manager

Package: org.tizen.taskmgr-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Task Manager Debug Symbols
 Debug symbols for taskmanager
